{% extends "header.html" %}

{% block title %}
	{{city.title}} 
{% endblock %}

{% block content %}
<h1>{{city.title}}</h1>


    {% for event in city.events.all %}
    <div class="card" style="width: 28rem;">
		  <div class="card-body">
		    <a href="{{event.get_absolute_url}}"><h5 class="card-title">{{event.title}}</h5></a>
		    <p class="card-text">{{event.description}}</p>
		    <p class="card-text">{{event.time}}</p>
		    <p class="card-text">contact: {{event.contact}}</p>

		    {% for tag in event.tags.all %}
		    <a href="#" class="card-link">{{tag.title}}</a>
		    {% endfor %}
		    <p>Participants:  {% for profile in event.participants.all %}
		    <a href="{{profile.get_absolute_url}}" class="card-link"> {{profile.user}}</a>
		    {% endfor %}</p>
		  </div>
		</div>
		<br>
    {% endfor %}
	
{% endblock %}