{% extends "header.html" %}
{% block title %}
	Home  
{% endblock %}

{% block content %}
<a href="{% url 'add_event' %}">create event /</a>
<a href="{% url 'add_sport' %}">create sport /</a>
<a href="{% url 'add_city' %}">create city /</a>	
	<h1>Available events</h1>

	{% for event in events %}
	<div class="container" style="margin-bottom: 50px; margin-left: -100px;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9" style=" ;background-color: whitesmoke; border-radius: 10px; padding: 10px;">
                <div class="row">
                    <div class="col-5 mr-2">
                        <p>Participants:  {% for profile in event.participants.all %}
						    <a href="{{profile.get_absolute_url}}" class="card-link"> {{profile.user}}</a>

						    {% endfor %}</p>
						    <h6 class="card-subtitle mb-2 text-muted">City{% for city in event.city.all %}
							    <a href="{{city.get_absolute_url}}" class="card-link">{{city.title}}</a>
							    {% endfor %}</h6>
							    <h6>Tags:
							     {% for tag in event.tags.all %}
		    <a href="{{tag.get_absolute_url}}" class="card-link">{{tag.title}}</a>
		    {% endfor %}</h6>
                        
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <p><a href="{{event.get_absolute_url}}"><h5 class="card-title">{{event.title}} </h5></a></p><br>

						    

						    <p class="card-text" style="margin-left: 20px;">        {{event.time}}</p>
						    
		    				
                            <hr>

                        </div>

                        <div class="row event-description">
                        	<p class="card-text">{{event.description}}</p><br>
                        	

                            <!-- -----------------------------------------------------EVENT DISCRIPTION FIELD ----------------------------------->

                        </div>
                        <button class="btn btn-success">Add event</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
	{% endfor %}
{% endblock %}



<!-- <div class="card" style="width: 28rem;">
		  <div class="card-body">
		    <a href="{{event.get_absolute_url}}"><h5 class="card-title">{{event.title}}</h5></a>
		    <h6 class="card-subtitle mb-2 text-muted">{% for city in event.city.all %}
		    <a href="{{city.get_absolute_url}}" class="card-link">{{city.title}}</a>
		    {% endfor %}</h6>
		    <p class="card-text">{{event.description}}</p>
		    <p class="card-text">{{event.time}}</p>

		    {% for tag in event.tags.all %}
		    <a href="{{tag.get_absolute_url}}" class="card-link">{{tag.title}}</a>
		    {% endfor %}
		    
		    <button>Add event</button>
		  </div>
		</div> -->