.backg {
    background: linear-gradient(100deg, #7c98fd, #4e43f9, #2e23c4);
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.inp-class {
    background: rgba(255, 255, 255, 0.5);
    height: 50px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

.inp-class input {
    border: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0)
}

.inp-class label {
    color: white;
    font-size: 0.675;
}

.logIn-Out a {
    color: white;
}

.logIn-Out a:hover {
    color: lightblue;
}

.logIn-Out input {
    background-color: rgba(205, 240, 255, 0.7);
    border-color: rgba(205, 240, 255, 0.7);
    width: 100%;
    padding-top: 10px;
}