<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/event-card.css">
    <script src="../bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9" style=" ;background-color: whitesmoke; border-radius: 10px; padding: 10px;">
                <div class="row">
                    <div class="col-5 mr-2">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                        <p>location information</p>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <p><a href="{{event.get_absolute_url}}"><h5 class="card-title">{{event.title}}</h5></a></p><br>
                            <p style="margin-right: 20px;">time</p>
                            <a href="">Event creator username</a>
                            <hr>
                        </div>

                        <div class="row event-description">

                            <!-- -----------------------------------------------------EVENT DISCRIPTION FIELD ----------------------------------->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>